<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Company Profiles</title>
    <script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.6.0/dist/echarts.min.js"></script>
</head>
<body>
    <h1 class="text-3xl font-bold mb-4">Company Profiles</h1>

    <div class="max-w-sm mx-auto mb-4">
        <label for="company-select" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Select a Company:</label>
        <select id="company-select" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" onchange="fetchDataAndRenderChart()">
            <option value="">-- Select a Company --</option>
            {% for index, row in data.iterrows() %}
                <option value="{{ row['company_id'] }}">{{ row['company_name'] }}</option>
            {% endfor %}
        </select>
    </div>

    <div id="company-profile" class="mt-4">
        <p>Select a company to see its profile.</p>
    </div>

    <!-- Container for the bar chart -->
    <div class="container mx-auto p-4">
        <h1 class="text-3xl font-bold mb-4">Role and City Distribution</h1>
        <div id="chart-container" class="mt-[100px]">
            <div id="main-chart" style="width: 100%; height: 700px;"></div>
        </div>
    </div>

      <!-- Container for the pie chart -->
    <div class="container mx-auto p-4">
        <h1 class="text-3xl font-bold mb-4">Role Distribution by Job Family</h1>
        <div id="pie-chart-container" class="mt-4">
            <div id="pie-chart" style="width: 100%; height: 700px;"></div>
        </div>
    </div>

<script>
    async function fetchDataAndRenderChart() {
        const companyId = document.getElementById('company-select').value;
        if (!companyId) {
            document.getElementById('company-profile').innerHTML = '<p>Select a company to see its profile.</p>';
            return;
        }
        console.log(companyId, 'com[panyOd]');  

        try {
            // Fetch company profile
            const profileResponse = await fetch(`/company/${companyId}`);
            const profileData = await profileResponse.text();
            console.log(profileData, 'profilData');
            
            document.getElementById('company-profile').innerHTML = profileData;

            const distributionResponse = await fetch(`/data/distribution/${companyId}`);
            const distributionData = await distributionResponse.json();

            // Render Bar Chart
            renderBarChart(distributionData.series, distributionData.states, companyId)

            // Render Pie Charts
            renderPieChart(distributionData.pie_roles_data, 'pie-chart', 'Role Distribution by Job Family', companyId);
        } catch (error) {
            console.error('Error fetching data:', error);
            document.getElementById('company-profile').innerHTML = '<p>Error fetching company profile.</p>';
        }
    }

    function renderBarChart(seriesData, states, id) {
        const chartDom = document.getElementById('main-chart');
        const myChart = echarts.init(chartDom);

        const option = {
            title: {
                text: `Role and City Distribution of company with ID: ${id} `,
            },
            tooltip: {},
           
            xAxis: {
                type: 'category',
                data: states,
            },
            yAxis: {
                type: 'value',
            },
            series: seriesData,
        };

        myChart.setOption(option);
    }

    function renderPieChart(pieData, chartId, title, id) {
        const chartDom = document.getElementById(chartId);
        const myChart = echarts.init(chartDom);

        const option = {
            title: {
                text: `${title} for company with ID: ${id}`,
                left: 'left',
            },
            tooltip: {
                trigger: 'item',
            },
            series: [
                {
                    name: title,
                    type: 'pie',
                    radius: '50%',
                    data: pieData,
                    emphasis: {
                        itemStyle: {
                            shadowBlur: 10,
                            shadowOffsetX: 0,
                            shadowColor: 'rgba(0, 0, 0, 0.5)',
                        },
                    },
                    animation: true,
                },
            ],
        };

        myChart.setOption(option);
    }
</script>

</body>
</html>